body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  label {
    margin-right: 10px;
    font-size: 1.2em;
  }
  
  select {
    padding: 5px;
    font-size: 1.2em;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .movie {
    width: 300px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  .movie img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .movie h2 {
    margin: 10px;
    font-size: 1.2em;
  }
  
  .movie p {
    margin: 10px;
    font-size: 1em;
  }
  